
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center head">DashBoard</h2>

<div class="row ">
    <h2 class="col-md-3 boards">
        @Html.ActionLink("Factories", "index", "facts")
    </h2>
    <h2 class="col-md-3 boards">
        @Html.ActionLink("Categories", "index", "Categories")
    </h2>
    <h2 class="col-md-3 boards">
        @Html.ActionLink("Sub Categories", "index", "sub_category")
    </h2>
    <h2 class="col-md-3 boards">
        @Html.ActionLink("products", "index", "products")
    </h2>
    <h2 class="col-md-3 boards">
        @Html.ActionLink("المصانع", "index", "facts")
    </h2>
</div>

