@model IEnumerable<Happystore.Models.Category>

@{
    ViewBag.Title = "الاقسام";
}

<h2 class="text-center head">الاقسام الرئيسية</h2>

<p>
    @Html.ActionLink("أضافة قسم رئيسى", "Create",null,new { @class="btn btn-success"})
</p>
<div class="t">


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fact.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orde_num)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fact.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orde_num)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.id },new { @class="btn btn-primary"}) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                    @Html.ActionLink("حذف", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>